{% extends 'blank_layout.html' %}
{% load static %}

{% block content%}
<section id="page-header" class="about-header">
	
	<h2>#discoverUs</h2>
	
	<p>Get to know the story behind justCraftin</p>
	
</section>


<section id="about-head" class="section-p1">
	<img src="{% static 'images/about/a1.jpg' %}">
	<div>
	<h2>Who We Are?</h2>
	<p>At justCraftin, we are passionate about celebrating the beauty of handcrafted artistry and the stories behind every piece. 
		Our mission is to bring you unique, high-quality items created by talented artisans from around the world. 
		Each item in our collection is thoughtfully crafted with care, precision, and creativity, blending traditional techniques with modern designs.
		Whether you're looking for a special gift or a beautiful addition to your home, we are here to offer pieces that inspire, delight, and stand the test of time.
	</p>
	<abbr title="">At justCraftin, we are more than just an online shop—we are a community of makers and lovers of handmade art.</abbr>
	<br><br>
	<marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Join us in celebrating the unique and handcrafted, Embrace the beauty of timeless artistry.</marquee>
</div>
</section>
<section id="about-app" class="section-p1">
	<h1>Download Our <a href="#">App</a></h1>
	<div class="video">
		<video autoplay muted loop src="{% static 'images/about/download.mp4' %}"></video>
	</div>
</section>
<section class="section-p1" id="feature">
	<div class="fe-box">
		<img src="{% static 'images/features/f1.png' %}">
		<h6>Free Shipping</h6>
	</div>
	<div class="fe-box">
		<img src="{% static 'images/features/f2.jfif' %}">
		<h6>Online Order</h6>
	</div>
	<div class="fe-box">
		<img src="{% static 'images/features/f3.png' %}">
		<h6>Save Money</h6>
	</div>
	<div class="fe-box">
		<img src="{% static 'images/features/f4.png' %}">
		<h6>Promotions</h6>
	</div>
	<div class="fe-box">
		<img src="{% static 'images/features/f5.jpg' %}">
		<h6>Happy Sell</h6>
	</div>
	<div class="fe-box">
		<img src="{% static 'images/features/f6.avif' %}">
		<h6>F24/7 Support</h6>
	</div>
</section>
{% endblock content %}