{% extends 'blank_layout.html' %}
{% load static %}

{% block content%}
<section id="page-header" class="blog-header">
	
	<h2>#readmore</h2>
	
	<p>For additional insights, be sure to discover more here</p>
	
</section>



<section id="blog">
	<div class="blog-box">
		<div class="blog-img">
			<img src="{% static 'images/blog/b1.webp' %}">
		</div>
		<div class="blog-details">
			<h4>Featured Item of the Week:Meditating Monk Buddha </h4>
			<p>This week’s featured item is a serene Meditating Monk Buddha Statue, handcrafted with intricate detail and designed to bring peace and tranquility to your living space.
				Made from high-quality resin and finished with a weathered stone-like appearance, this statue captures the essence of calm and mindfulness.
				The monk sits in a meditative posture, symbolizing inner peace and spiritual enlightenment.</p>
			<a href="">CONTINUE READING</a>
		</div>
		<h1>13/01</h1>
	</div>
	<div class="blog-box">
		<div class="blog-img">
			<img src="{% static 'images/blog/b2.jpg' %}">
		</div>
		<div class="blog-details">
			<h4>Crafting at Home</h4>
			<p>DIY Hand-Painted Mugs for Beginners Looking for a fun and easy crafting project to do at home? Try creating your own personalized hand-painted mugs! This tutorial will guide you through the process of transforming a plain ceramic mug into a vibrant, unique piece of art. All you need are some acrylic paints, a brush, and a ceramic mug of your choice.
				 Whether you want to add a favorite quote, a simple design, or a splash of color, this project is perfect for beginners.</p>
			<a href="">CONTINUE READING</a>
		</div>
		<h1>13/01</h1>
	</div>
	<div class="blog-box">
		<div class="blog-img">
			<img src="{% static 'images/blog/b3.jpg' %}">
		</div>
		<div class="blog-details">
			<h4>Upcycling Ideas</h4>
			<p>Turn Old Glass Bottles into Stylish Vases Upcycling is a fantastic way to give new life to everyday objects while reducing waste. This week, we’ll show you how to turn old glass bottles into stylish vases.
			All you need are some empty wine or soda bottles, paint, and creativity! By adding a coat of chalk paint or spray paint, you can transform these bottles into elegant, modern vases that will look stunning in any home. Add some twine or dried flowers for a rustic touch. 
			It’s an eco-friendly way to decorate your space without spending a dime.</p>
			<a href="">CONTINUE READING</a>
		</div>
		<h1>13/01</h1>
	</div>
	<div class="blog-box">
		<div class="blog-img">
			<img src="{% static 'images/blog/b4.jpg' %}">
		</div>
		<div class="blog-details">
			<h4>Handcrafted Living</h4>
			<p>Handcrafted living is about embracing the uniqueness and warmth that artisan-made products bring into your home and lifestyle.
				In a world dominated by mass-produced items, handcrafted goods stand out for their quality, attention to detail, and personal touch.
				Each piece carries the heart and soul of the artisan, reflecting their skill, creativity, and dedication.</p>
			<a href="">CONTINUE READING</a>
		</div>
		<h1>13/01</h1>
	</div>
	
</section>


<section id="pagination" class="section-p1">
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#">&gt;&gt;</a>
</section>

{% endblock content %}