{% load static %}
<section id="header" >
    <a href="#" id="home_logo"><img src="{% static 'images/logo2.png' %}" class="logo">justCraftin</a>	
    <div>
        <ul id="navbar">
            <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}" >About</a></li>
            <li><a href="{% url 'products_list' %}" class="{% if request.resolver_match.url_name == 'products_list' %}active{% endif %}" >Shop</a></li>
            <li><a href="{% url 'blog' %}" class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}" >Blog</a></li>
            <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}" >Contact</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'account' %}" class="{% if request.resolver_match.url_name == 'account' %}active{% endif %}" >Login/SignUp</a></li>
            {% else %}
            <li><a href="{% url 'orders' %}" class="{% if request.resolver_match.url_name == 'orders' %}active{% endif %}" >Orders</a></li>
            <li><a href="{% url 'logout' %}" class="{% if request.resolver_match.url_name == 'logout' %}active{% endif %}" >Logout</a></li>
            {% endif %}

            <li id="lg-bag"><a href="{% url 'cart' %}" class="{% if request.resolver_match.url_name == 'cart' %}active{% endif %}" ><i class="fa-solid fa-cart-shopping"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
    
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-store"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
        
    </div>
    </section>